numpy
psutil 
pytest 
pyyaml 
reuse[charset-normalizer]==6.2.0
matplotlib
ml_dtypes
cloudpickle
rich
gurobipy
networkx[default]
ortools
#-f https://llvm.github.io/eudsl eudsl-python-extras==0.1.0.20260801.905+68a0d7a --config-settings=EUDSL_PYTHON_EXTRAS_HOST_PACKAGE_PREFIX=aie
